<header class="bg-white border-b border-zinc-300">
    <nav class="mx-auto p-6 py-3">
        <div class="flex justify-between">
            <div class="flex items-center">
                <img src="download.png" alt="" class="w-[40px] aspect-1">
                <span class="ms-[10px] text-2xl">
                    Chat App
                </span>
            </div>
            <div
                class="flex items-center items-center p-[10px_20px] bg-indigo-500 font-semibold text-white rounded-full">
                <a [routerLink]="['','login']" class="text-sm/6 ">Log Out <span aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
    </nav>
</header>
